section{
    background: white;
}
.nav-content{
    display: flex;
}
.nav-content .n-title{
   width: 150px;
    text-align: center;
    line-height: 70px;
}
.nav-content ul:after{
    clear: both;
    display: block;
    content: "";
    /*flex: 5;*/
}

.nav-list{
    /*display: flex;*/
    width: calc(100% - 150px);
}

.nav-list li{
    width: 150px;
    float: left;
    text-align: center;
}
.type-nav li{
    border: 1px #d8d8d8 solid;
    padding: 8px;
    border-radius: 20px;
    margin: 15px;
}
.breed-nav li{
    padding: 8px;
    border-radius: 20px;
    margin: 15px;
    text-align: left;
}
.parent input{
    width: 30%;
    flex: 3;
    height: 40px;
    margin: 0 2%;
    border: 1px #d8d8d8 solid;
    border-radius: 30px;
    background: white;
}
.parent .search{
    flex: 3;
}
.parent{
    width: calc(100% - 150px);
    background: transparent;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}
.search button{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
}
